<div layout="row" class="header-menu">
	<img src="/landing/landing.img/logo.svg" class="logo" margin flex="25" />
	<div hide show-gt-md flex></div>
	<div flex="80" flex-gt-md="45">
		<md-menu class="nav-menu" ng-repeat="item in vm.menuItems track by $index">
			<md-button ng-click="vm.redirect(item.value) || $mdOpenMenu($event)">{{item.title}}</md-button>
			<md-menu-content layout="column">
				<md-menu-item ng-repeat="subItem in item.value track by $index">
					<md-button ng-href="{{subItem.value}}">{{subItem.title}}</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-button ng-click="vm.alphaDialog($event,'Top menu')" class="menu-cta" ng-if="!vm.isScrolled">sign up free</md-button>
		<md-button ng-click="vm.alphaDialog($event,'Top menu')" ng-if="vm.isScrolled">sign up</md-button>
	</div>
</div>
