body {
    font-family: OpenSans;
    z-index: 0;
}

h1 {
    font-size: 61.6px;
    font-weight: 300;
    letter-spacing: -4.2px;
    line-height: 64px;
    color: #6d6e71;
    color: var(--slate-grey);
    margin-bottom: 0px
}

p {
    font-size: 12px;
    font-weight: 100;
    line-height: 22px;
    color: #4a4a4a;
    color: var(--greyish-brown);
}

.accent-header {
    font-weight: 600;
}

landing-slider {
    background-color: white;
}

.i-phone-6-white-gold-vector {
    position: absolute;
}

.top-menu {
    height: 30px;
    margin: 30px 40px;
}

.menu-item {
    font-size: 12px;
    color: #4a4a4a;
    color: var(--greyish-brown);
    padding: 5px;
    margin: 0px;
}

.menu-cta {
    margin: 0px;
    padding-top: 5px;
    width: 146px;
    height: 46px;
    border-radius: 100px;
    background-color: #44a7f0;
    background-color: var(--dark-sky-blue);
}

.menu-cta span {
    width: 90px;
    height: 19px;
    font-size: 12px;
    color: #ffffff;
    padding-top: 15px;
}

.landing-slider {
    height: 580px;
    margin-bottom: 25px;
    background-color: white;
    z-index: 1;
}

.landing-slider .wrap {}

.landing-slider .i-phone-6-white-gold-vector {
    width: 263px;
    height: 493.6px;
    position: absolute;
    opacity: 1;
}

.landing-slider .orderly-mobile-dashboard {
    width: 215px;
    margin-top: 60px;
    margin-left: 24px;
    opacity: 1;
}

.landing-slider .accent-header {
    color: #44a7f0;
}

.landing-slider p {
    max-width: 650px;
}

.slider-nav {
    margin-top: 70px;
    margin-bottom: 0px;
    height: 50px;
    opacity: 0.7;
    z-index: 1;
    background-color: white;
}

.slider-nav md-toolbar {
    opacity: 0.7;
    background-color: #4a4a4a;
    margin-bottom: 0px;
}

.nav-items .button {
    width: 200px;
    height: 62px;
}

.nav-items .button span {
    font-size: 22.5px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ffffff;
    opacity: 1;
}

.parallax-wrap {
    /*    position: relative;*/
    width: 100%;
    height: 1050px;
    z-index: 1;
}

.parallax {
    margin-top: -25px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1050px;
}

.color-filter {
    margin-top: -25px;
    width: 100%;
    min-height: 1050px;
    height: 950px;
    background-color: #44a7f0;
    opacity: .7;
    position: absolute;
}

.white-gradient {
    position: absolute;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    z-index: 0;
}

.mac-display {
    width: 100%;
    height: 1050px;
    z-index: 1;
}

.white-gradient h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: -2.3px;
    line-height: 30px;
    color: #ffffff;
}

.white-gradient h3 {
    margin-bottom: 5px;
    opacity: .7;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 49px;
    color: #ffffff;
}

.white-gradient h4 {}

.white-gradient img {
    width: 827.6px;
    height: 508px;
    z-index: 1;
}

.benefits {
    /*    margin-top: 150px;*/
    z-index: 2;
    background-color: white;
}

.benefit {
    margin: 50px;
    z-index: 2
}

.benefits h3 {
    width: 240.9px;
    height: 46.3px;
    font-size: 21.6px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 60px;
    color: #6d6e71;
    color: var(--slate-grey);
}

.partners .parallax {
    margin-top: -300px;
    z-index: -2;
}

.partners .color-filter {
    background-color: #000;
    z-index: -1;
}

.team {
    margin-top: 400px;
    background: white;
}

.dark-gradient {
    background-image: linear-gradient(to bottom, #ffffff 0, #f1f1f1 100%);
}

.team > div {
    margin: 100px 0;
}

.team > div,
.team .members {
    min-width: 100%
}

.team h3 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 60px;
    color: #9b9b9b;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.team md-divider {
    width: 559.7px;
    height: 1.5px;
    border: solid 1px #d8d8d8;
    margin-top: 0px;
    margin-bottom: 75px;
}

.team h4 {
    font-size: 16.4px;
    font-weight: bolder;
    letter-spacing: -0.8px;
    line-height: 20px;
    color: #44a7f0;
    margin-bottom: 5px;
}

.team img {
    border-radius: 50%;
    height: 167px;
}

.team p {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 8.2px;
    font-weight: bolder;
    letter-spacing: 0.8px;
    line-height: 20px;
    color: #9b9b9b;
}

.bio-button {
    border: solid 1px #d8d8d8;
    margin-top: 20px;
    min-width: 100px;
}

.bio-button span {
    font-size: 13.4px;
    font-weight: 100;
    line-height: 25px;
    color: #9b9b9b;
}

.contact {
    z-index: 2;
    background: white;
}

.footer-menu {
    background: white;
}

.cta-square {
    width: 173.6px;
    height: 49.6px;
    color: #ffffff !important;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
}

.slide-text {
    font-size: 18px;
}