:root {
    --mango: #fb8e31;
    --dark-sky-blue: #44a7f0;
    --bluegreen: #19a69b;
    --white: #f1f1f1;
    --black: #000000;
    --white-two: #f3f3f3;
    --white-three: #d8d8d8;
    --warm-grey: #9b9b9b;
    --slate-grey: #6d6e71;
    --warm-grey-two: #979797;
    --greyish-brown: #4a4a4a;
    --slate-grey-two: #58595b;
}
