<menu class="fixed-menu"></menu>
<div class="header-offset"></div>
<div class="landing-slider" layout="column">
    <div layout="row" ng-repeat="item in vm.scrollItems | limitTo:1">
        <div class="phone-display" flex="30" flex-offset="20" layout-align="center center">
            <img class="i-phone-6-white-gold-vector" src="/landing/landing.img/i-phone-6-white-gold-vector@2x.png" />
            <img class="orderly-mobile-dashboard" ng-src="{{item.image}}" ng-class="vm.animatedClass" />
        </div>
        <div flex="45" layout="column">
            <div hide-xs flex="10"></div>
            <div flex-xs="50" flex-gt-xs="25">
                <h1>My health. <span class="accent-header" ng-class="vm.animatedClass" ng-style="item.color">{{item.title}}</span></h1>
                <p class="slide-text" ng-class="vm.animatedClass">{{item.text}}</p>
                <md-button class="cta-square" ng-style="item.ctaColor" ng-click="vm.alphaDialog($event,'slider')">SIGN UP FREE</md-button>
            </div>
            <div flex></div>
        </div>
        <div flex="10"></div>
    </div>
    <div layout="row" class="slider-nav">
        <md-toolbar layout-align="center center">
            <div class="nav-items">
                <md-button ng-repeat="item in vm.navItems" class="button" ng-class="{'active': vm.isActive(item)}" aria-label="Settings" ng-click="vm.pause(item)">
                    {{item}}
                </md-button>
            </div>
        </md-toolbar>
    </div>
</div>

<div hide-xs class="parallax-wrap" id="features">
    <div class="mac-display white-gradient" layout="column" layout-align="center center">
        <h1 class="accent-header">How It works</h1>
        <div class="wrap" layout="row" layout-align="start start">
            <img class="frame" src="/landing/landing.img/Thunderbolt@1x.png">
            <img class="screen" src="/landing/landing.img/orderly-dashboard-v-2.png" alt="screen" />
        </div>
    </div>
    <div class="color-filter"></div>
    <img src="/landing/landing.img/mountainColor.jpg" alt="" class="parallax" du-parallax y="vm.background" />
</div>

<div layout-xs="column" layout="row" class="benefits">
    <div flex></div>
    <div flex="25" layout="column" class="benefit" ng-repeat="benefit in vm.benefits" layout-align="start center">
        <img ng-src="{{benefit.icon}}">
        <h3>{{benefit.name}}</h3>
        <p>{{benefit.text || vm.lorem}}</p>
    </div>
    <div flex></div>
</div>
<div class="partners">
    <div class="color-filter"></div>
    <img src="/landing/landing.img/flatirons.jpg" alt="" class="parallax" du-parallax y="vm.background" />
    <div layout="column" layout-align="center center" class="foreground">
        <h3>WE WORK WITH THE BEST</h3>
        <md-divider></md-divider>
        <div layout="row" layout-align="center center">
            <img flex="15" ng-repeat="partner in vm.partners" ng-src="{{partner.image}}" ng-click="vm.link(partner.url)">
        </div>
    </div>
</div>

<div layout="row" class="team dark-gradient" id="about">
    <div layout="column" layout-align="center center">
        <h3>About Orderly</h3>
        <md-divider></md-divider>
        <div layout="row" layout-align="center center" class="members">
            <div flex="10"></div>
            <div flex="20" layout="column" ng-repeat="member in vm.teamMembers" layout-align="center center">
                <img ng-src="{{member.image}}">
                <h4>{{member.name}}</h4>
                <p>{{member.title}}</p>
                <md-button class="bio-button" ng-click="vm.dialog($event, member.name, member.bio,'close')">READ BIO</md-button>
            </div>
            <div flex="10"></div>
        </div>
    </div>
</div>

<div layout="row" layout-align="center start" class="contact" id="contact">
    <div flex="5"></div>
    <div layout="column" flex="25" class="message">
        <h2>SEND US A MESSAGE</h2>
        <md-input-container>
            <label>Name</label>
            <input ng-model="vm.contact.name">
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input ng-model="vm.contact.email" type="email">
        </md-input-container>
        <md-input-container>
            <label>Share your thoughts</label>
            <input ng-model="vm.contact.message">
        </md-input-container>
        <md-button class="menu-cta" ng-click="vm.sendMail()">Submit</md-button>
    </div>
    <div flex="10"></div>
    <div layout="column" layout-align="center start" flex="25" class="info">
        <h2>CONTACT INFO</h2>
        <md-list>
            <md-list-item ng-repeat="item in vm.contactInfo" layout-align="end end" ng-click="vm.link(item.url)">
                <img ng-src="{{item.icon}}">
                <h3>{{item.value}}</h3>
                <div flex></div>
            </md-list-item>
        </md-list>
    </div>
    <div flex="5"></div>
</div>

<div layout="column" layout-align="center center" class="footer-menu">
    <img src="/landing/landing.img/logo-2.svg" />
    <div flex="15"></div>
    <md-button class="menu-cta" ng-click="vm.alphaDialog($event,'bottom')">SIGN UP FREE</md-button>
    <div flex="10"></div>
    <div layout="row" layout-align="center center">
        <md-button ng-href="{{vm.signIn}}">sign in<span class="divider">|</span></md-button>
        <md-button ng-href="https://welcome.orderlytest.com/legal">terms of service<span class="divider">|</span></md-button>
        <md-button ng-href="https://welcome.orderlytest.com/privacy">privacy policy</md-button>
    </div>
    <div></div>
    <div class="copyright">© 2016 ORDERLY HEALTH, INC. | ALL RIGHTS RESERVED | MADE WITH ♡ IN COLORADO</div>
    <div flex="5"></div>
</div>
